server:
  port: 8080
  servlet:
    context-path: /identity

spring:
  application:
    name: identity-service
  datasource:
    url: jdbc:mysql://localhost:3306/identity-service
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  signerKey: "00597d5df8fff3c1cc2f9e529aff150aff3e118961c267bc919760e3a2dec50e"